.node-article-form .layout-region-node-main,
.node-article-form .layout-region-node-secondary,
.node-article-form .layout-region-node-footer {
  width: 100%;
}

.node-article-form .layout-region-node-main {
  padding-right: 0;
}

.node-article-form .selected-images-info-container {
  /* width: 15%; */
  background-color: #fcfcfa;
  border: 1px solid #c0c0c0;
}

/* .node-article-form .paragraphs-subform {
  width: 85%;
} */

.node-article-form .paragraphs-dropbutton-wrapper {
  display: none;
}

.path-node .media-library-widget-modal .media-library-item--grid:not(.checked) {
  display: none !important;
}

.path-node .media-library-widget-modal {
  /* position: absolute !important; */
  width: 100% !important;
  /* height: 100% !important; */
  top: 0 !important;
  left: 0 !important;
  /* height: 90% !important; */

}

.path-node .media-library-widget-modal .view-filters,
.path-node .media-library-widget-modal .view-header,
.path-node .media-library-widget-modal .pager {
  display: none !important;
}

.media-library-widget-modal .ui-dialog {
  /* height: 90% !important; */
  /* min-height: 87vh; */
  max-height: 86vh !important;
}

.media-library-widget-modal .ui-dialog-content {
  height: 86vh !important;
  /* min-height: 87vh; */
  max-height: 86vh !important;
}

.media-library-widget-modal .media-library-add-form__fields {
  width: 100%;
}

.media-library-widget-modal .form-item-name {
  width: 30%;
  display: inline-block;
  word-break: break-all;
}

.media-library-widget-modal .field--name-field-art-img-alt {
  width: 28%;
}

.media-library-widget-modal .field--name-field-art-img-copyright {
  width: 28%;
  float: left;
}

.media-library-widget-modal .field--name-field-art-img-description {
  float: right;
  width: 70%;
  margin-top: -135px;
}

.media-library-widget-modal .filter-wrapper {
  display: none;
}

.media-library-widget-modal .cke_contents {
  height: 110px !important;
}

.field--name-field-primary-article-image {
  padding: 1em 1.5em;
  border-radius: 3px 3px 0 0; 
  border: 1px solid #bfbfbf;
  background-color: #fcfcfa;
}

#edit-field-primary-article-image-0-top-paragraph-type-title {
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}